/* Variables */

$text-logo: 'Explora', cursive;
$font-text: 'Montserrat', sans-serif;
$font-title: 'Roboto', sans-serif;


/* Header */

.logo {
    font-family: $text-logo;
    color: rgb(211, 211, 16);
    margin: auto;
}